#:schema https://dystroy.org/bacon/.bacon.schema.json
#:tombi schema.strict = false

default_job = "run"
env.CARGO_TERM_COLOR = "always"

[jobs.run]
command = ["cargo", "run", "--bin", "hunk", "--color", "always"]
need_stdout = true
allow_warnings = true
background = false
on_change_strategy = "kill_then_restart"
kill = ["kill", "-s", "INT"]
watch = ["Cargo.toml", "Cargo.lock", "src", "tests"]

[jobs.check]
command = ["cargo", "check", "--color", "always"]
need_stdout = false
watch = ["Cargo.toml", "Cargo.lock", "src", "tests"]

[jobs.test]
command = ["cargo", "test", "--color", "always", "--", "--color", "always"]
need_stdout = true
watch = ["Cargo.toml", "Cargo.lock", "src", "tests"]

[jobs.clippy]
command = [
  "cargo",
  "clippy",
  "--all-targets",
  "--all-features",
  "--color",
  "always"
]
need_stdout = false
watch = ["Cargo.toml", "Cargo.lock", "src", "tests"]

[keybindings]
r = "job:run"
c = "job:check"
t = "job:test"
l = "job:clippy"
